@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;800&family=Work+Sans:wght@300;700;900&display=swap");
.layout {
  height: 100vh;
  display: flex;
  background: url(../assets/background.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Work Sans", sans-serif;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
